In [1]:
tuples = (1,2,'hello')
print(tuples)
print(tuples[0])
print(tuples[1])
print(tuples[2])

(1, 2, 'hello')
1
2
hello

In [ ]:
tuples = (1,2,'hello'), ('test',1,2,3,4)
print(tuples)
print(tuples[0][0])
print(tuples[0][1])
print(tuples[0][2])
print(tuples[1][0])
print(tuples[1][1])
print(tuples[1][2])
print(tuples[1][3])

print(tuples[1][4])

((1, 2, 'hello'), ('test', 1, 2, 3, 4))
1
2
hello
test
1
2
3
4

In [28]:
class Add : 
    def add(self, tuple_value):
        total = 0
        for v in range(tuple_value):
            total += v
            print(total)
            
no_wrap_tuples = (1, 2, 3)

add_calculator = Add()
add_calculator.add(no_wrap_tuples)

TypeError: 'tuple' object cannot be interpreted as an integer

In [16]:
tuples = (1,2,'hello')
reversed_tuples = reversed(tuples)
print(tuple(reversed_tuples))

('hello', 2, 1)

In [34]:
class Add:
    def add(self, tuple_value):
        total = 0
        for v in tuple_value:   # 튜플 요소를 하나씩 꺼냄
            total += v
        print(total)

no_wrap_tuples = (1, 2, 3)

add_calculator = Add()
add_calculator.add(no_wrap_tuples)

6

In [36]:
class Add:
    def add(self, tuple_value):
        total = 0
        for v in tuple_value:
            total += v
        print(total)
            
no_wrap_tuples = (1, 2, 3)

add_calculator = Add()
add_calculator.add(no_wrap_tuples)

6

In [40]:
t = 1,2,3
x,y,z = t
print(x)

1

In [43]:
address = "대한민국 서울시 서초구"
print(address[5])    # 서
print(address[9])    # 서

서
서

In [69]:
location = ['서울', '부산', '인천', '광주', '울산']
print(location[3])

광주

In [46]:
address = "대한민국 서울시 서초구"
print(address[-3])
print(address[-7])

서
서

In [ ]:
location = ['서울', '부산', '인천', '광주', '울산']
print(location[-5])

서울

In [50]:
address = "대한민국 서울시 서초구"
print(address[5:8])

서울시

In [ ]:
location = ['서울', '부산', '인천', '광주', '울산']
print(location[2:5])
print(location[2:])
print(location[-3:])

['인천', '광주', '울산']
['인천', '광주', '울산']
['인천', '광주', '울산']

In [67]:
address = "대한민국 서울시 서초구"
print(address[9:])
print(address[-3:])
print(address[1:12:4])
print(address[1::4])
print(address[::-1])

서초구
서초구
한서서
한서서
구초서 시울서 국민한대

In [72]:
location = ['서울', '부산', '인천', '광주', '울산']
print(location[3:5])
print(location[-4:])
print(location[1::2])
print(location[-3::-1])

['광주', '울산']
['부산', '인천', '광주', '울산']
['부산', '광주']
['인천', '부산', '서울']

In [74]:
nation = ('대한민국', '미국', '중국', '일본', '프랑스')
print(nation[1:])      # ('미국', '중국', '일본', '프랑스')
print(nation[-3:])     # ('중국', '일본', '프랑스')
print(nation[1:5:2])   # ('미국', '일본')
print(nation[::-1])    # ('프랑스', '일본', '중국', '미국', '대한민국')

('미국', '중국', '일본', '프랑스')
('중국', '일본', '프랑스')
('미국', '일본')
('프랑스', '일본', '중국', '미국', '대한민국')

In [76]:
address = '대한민국 서울시 서초구'
print('대한민국' in address)
print('국민한대'in address)
print('서울시서초구'in address)

True
False
False

In [77]:
# 리스트
location = ['서울특별시', '부산광역시', '인천광역시', '광주광역시', '울산광역시']
print('광주광역시' in location)                   # True
print(['광주광역시', '부산광역시'] in location)    # False
print(['서울특별시', '부산광역시'] in location)    # False

True
False
False

In [ ]:
# 튜플
nation = ('대한민국', '미국', '중국', '일본', '프랑스')
print('미국' in nation)                 # True
print(('대한민국', '미국') in nation)    # False

True
False

In [83]:
# 튜플
nation = ('대한민국', '미국', '중국', '일본', '프랑스',('대한민국', '미국'))
print(nation[1])
print(nation[5][1])

미국
미국

In [86]:
address = '대한민국 서울시 서초구'
print(len(address))     #12
print(len(location))    #5
print(len(nation))      #6

12
5
6