In [6]:
num1 = 1
num2 = -1.1
print(type(num1))
print(type(num2))
print(type(123))

<class 'int'>
<class 'float'>
<class 'int'>

In [9]:
num3 = 3.14
num4 = 1.0
print(type(num3))
print(type(num4))

<class 'float'>
<class 'float'>

In [13]:
num5 = 3 + 4j
print(type(num5))

<class 'complex'>

In [17]:
# 정수 진법별 접두사
# 2진수(0,1) : 0b
# 8진수(0,7) : 0o
# 16진수(0,15) : 0x

a = 100
print(a)
b = 0o23
print(b)
c = 0xff
print(c)

100
19
255

In [21]:
# 정수의 최대값
import sys
print(sys.maxsize)

9223372036854775807

In [38]:
# 지수 표현식
# 4.24E10 = > 4.24*10^10
a = 4.24E15
b = 4.24E-4
print(a)
print(b)
print(type(a))
print(type(b))

4240000000000000.0
0.000424
<class 'float'>
<class 'float'>

In [40]:
print(complex(1,1))

(1+1j)

In [41]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

13
7
30
3.3333333333333335

In [42]:
num3 = 10
num4 = 0.1
print(num3 + num4)
print(num3 - num4)
print(num3 * num4)
print(num3 / num4)

10.1
9.9
1.0
100.0

In [47]:
num1 = 11
num2 = 7
print(num1 % num2)

4

In [50]:
num1 = 11
num2 = 7
print(num1 // num2)

1

In [55]:
num3 = 9
num4 = 2
num5 = 1/2
print(num3 ** num4)
print(num3 ** num5)

81
3.0